.search-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
}


@media screen and (max-width: 1000px) {
  .search-results {
    max-width: 75%;
  }
}

@media screen and (max-width: 680px) {
  .search-results {
    max-width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .search-results {
    max-width: 100%;
  }
}
